@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;700&display=swap");

.bg {
  background-image: url("https://raw.githubusercontent.com/appbrewery/webdev/main/birthday-cake3.4.jpeg");
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3 {
  text-align: center;
}

.wording {
  margin: auto;
  opacity: 0.8;
}

.mywords {
  margin: auto;
  text-align: center;
}

.center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}
